<div class="level">
  <div class="level__name">ხინკალი<h6>FLEX</h6></div>
  <div class="level__swiper">
    <div class="level__swiper--left"
         [class.level__swiper--opacity]="$currentLevel$() === 1"
         (click)="changeLevel('prev')"> <img src="../../../../assets/images/arrows.png" alt="*" > </div>
    <div class="level__swiper--content" (click)="openLevelPopup()">
      <div class="level__swiper--modal" *ngIf="$isLevelOpens$()">
        <display-levels-modal />
      </div >
      <p>
        ლეველები: {{$currentLevel$()}} / {{$quantityOfLessons$()}}
      </p>
    </div>
    <div class="level__swiper--right"
         [class.level__swiper--opacity]="$currentLevel$() === $quantityOfLessons$()"
         (click)="changeLevel('next')"><img src="../../../../assets/images/arrows.png" alt="*"></div>
  </div>
</div>
