@use 'assets/styles/variables.scss';
@use 'assets/styles/mixins.scss';
.technologies{
  width: 250px;
  height: 120px;
  border: 1px solid black;
  border-radius: 20px;
  @include mixins.flex(flex-start, center, column);
  padding: 2px 20px;
  gap: 30px;
  &__images{
    @include mixins.flex(center, center, row);
    gap: 20px;
    h3{
      font-size: 24px;
      font-family: variables.$main-font;
    }
  }
  &__text{
    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
}
