@use '/assets/styles/mixins.scss';
@use '/assets/styles/variables.scss';

.home-info{
  @include mixins.flex(center, space-between, column);
  flex-wrap: wrap;
  div{
    width: 50%;
    @include mixins.flex(center, center, row);
    min-height: 150px;
    img{
      width: 50px;
      height: 50px;
      margin: 10px;
    }
    div{
      width: 80%;
      @include mixins.flex(center, center, column);
      text-align: start;
      gap: 10px;
      h3{
        font-size: 16px;
        font-family: variables.$nino-font;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
      }
      h4{
        font-size: 14px;
        font-family: variables.$alk-font;
        --tw-text-opacity: 1;
        color: rgb(156 163 175 / var(--tw-text-opacity, 1));
      }
    }
  }
}
