<div class="layouts-footer">
  <div class="layouts-footer__left">
    <div>BASIC Learning is created by
      <a href="https://github.com/Ljojua15">GitHub</a>
      <div></div>
      <p >GitLab</p>
    <div></div>
      <a href="https://www.linkedin.com/in/lasha-jojua-602689229/">LinkedIn</a>
    </div>
  </div>
  <div class="layouts-footer__center">
    &copy; 2025
  </div>
  <div class="layouts-footer__right">
      <p>
        Want to learn more CSS? Play
        <a href="">Grid Garden</a>
        or
        <a href="">Flexboxfroggy</a>
      </p>
  </div>
</div>
