<div class="codding">
  <div class="codding__lines">
    <ul>
      <li *ngFor="let line of $codePlace$(); let i = index">{{ line.id }}</li>
    </ul>
  </div>
  <div class="codding__write-place">
    <ul>
      <li *ngFor="let codeLine of $codePlace$(); let i = index">
        <pre *ngIf="codeLine.text.includes('{') || codeLine.text.includes('}')">{{ codeLine.text }}</pre>
        <span *ngIf="!codeLine.text.includes('{') && !codeLine.text.includes('}') && i !== 2">
          {{ codeLine.text }}
        </span>
        <textarea
          *ngIf="codeLine.text === 'area'"
          type="text"
          [formControl]="$code$()"
          id="code"
          autofocus
          autocapitalize="none"
          spellcheck="false"
        ></textarea>
      </li>
    </ul>
  </div>
  <button class="codding__write-place--btn"
          [class.codding__write-place--btn-active]="$isCorrect$()()"
          (click)="enterCode('done')"
  >შემდეგი</button>
</div>
