<div class="desk">
  <div class="desk__header">
    <h2 class="desk__title">CSS Grid-ის საფუძვლები</h2>
    <p class="desk__subtitle">
      მოგესალმებით Grid Garden-ში! აქ თქვენ ისწავლით CSS Grid-ის გამოყენებას ბაღის მოვლისთვის.
    </p>
  </div>

  <div class="desk__body">
    <p class="desk__text">
      📋 <strong>დავალება:</strong> <br> მოიყენეთ <code>grid-column-start: 3;</code> რომ წყალი მე-3  სვეტში მიაწოდოთ სტაფილოს.
    </p>

    <div class="desk__hint">
      💡 <strong>მინიშნება:</strong> <br>  <code>grid-column-start</code> თვისება განსაზღვრავს რომელი სვეტიდან დაიწყოს ელემენტი.
    </div>
  </div>
</div>
