<div class="progress-box">
  <h2 class="progress-box__title">Progress</h2>

  <div class="progress-box__status">
    <span>Completed Levels</span>
    <span>{{ solved }}/{{ total }}</span>
  </div>

  <div class="progress-box__stats">
    <div class="progress-box__card">
      <div class="progress-box__icon text-primary">
        <i class="ri-number-{{ solved }}"></i>
      </div>
      <span class="progress-box__label">Solved</span>
    </div>

    <div class="progress-box__card">
      <div class="progress-box__icon text-secondary">
        <i class="ri-number-{{ currentLevel }}"></i>
      </div>
      <span class="progress-box__label">Level</span>
    </div>
  </div>
</div>
