@use '/assets/styles/mixins.scss';
@use '/assets/styles/variables.scss';
:host{
  width: 100%;
  height: 100%;
}
.home {
  width: 100%;
  height: auto;
  @include mixins.flex(center, space-between, column);
  &__header {
    width: 100%;
    height: 20%;
    @include mixins.flex(center, center, column);
    gap: 10px;
    padding: 30px;

    h2 {
      font-size: 30px;
      color: #e0e0e0;
      font-family: variables.$main-font;
      text-align: center;
    }

    p {
      width: 80%;
      font-size: 20px;
      color: #9CA3AF;
      text-align: center;
    }
  }
  &__cards {
    width: 90%;
    @include mixins.flex(center, center, row);
    padding: 30px;
    gap: 30px;

    &__all {
      max-width: 340px;
      width: 100%;
      height: 342px;
      @include mixins.flex(center, space-around, column);
      border-radius: 20px;
      transition: all 0.3s ease;
      background: rgba(30, 30, 40, 0.7);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.05);
      cursor: pointer;

      img {
        border-radius: 50%;
      }

      h3 {
        font-size: 28px;
        color: #e0e0e0;
        text-align: center;
        font-family: variables.$main-font;
      }

      h5 {
        font-size: 16px;
        color: #797171;
        text-align: center;
        font-family: variables.$main-font;
      }

      button {
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: variables.$alk-font;
        font-size: 16px;
        font-weight: 500;
        color: whitesmoke;
        background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
      }
    }

    &__all:hover {
      transform: translateY(-5px) scale(1.02);
      outline: none;
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 0 20px rgba(255, 97, 218, 0.3);
    }

    &__all {
      button:hover {
        transform: translateY(-5px) scale(1.02);
      }
    }
  }
  &__reading {
    width: 100%;
    height: 30%;
    @include mixins.flex(center, space-between, column);
    padding: 30px;
    &__texts{
      max-width: 64rem;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(17, 24, 39, 0.5);
      border-radius: 0.5rem;
      padding: 2rem;
      border: 1px solid #1f2937;
      @include mixins.flex(center, center, column);
      &--line{
        font-size: 22px;
        font-family: variables.$nino-font;
        font-weight: 700;
        color: white;

      }
    }
  }
  @include mixins.mobile{
    &__cards {
      @include mixins.flex(center, center, column);

      &__all {
        h5 {
          width: 96%;
        }
      }

    }
    &__reading {
      width: 100%;
      height: 30%;
      @include mixins.flex(center, space-between, column);
      padding: 30px;
      &__texts{
        &--line{
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
