@use 'assets/styles/variables.scss';
@use 'assets/styles/mixins.scss';
.colored-title{
  color: green !important;
}
.example{
  width: calc(100% - 10px);
  height: 38vh;
  margin: auto;
  @include mixins.flex(space-around,space-around,column);
  div{
    height: calc(100% - 10%);
    overflow-y: auto;
    &::-webkit-scrollbar {  width: 6px;}&::-webkit-scrollbar-track {  background: #060a17;  border-radius: 16px;  margin: 50px 0 80px 0;}&::-webkit-scrollbar-thumb {  background: #4b4b4b;  border-radius: 16px;}

    ul{
      padding:20px;
      @include mixins.flex(flex-start,flex-start,column);
      gap: 10px;
      li{
        font-family: sans-serif;
        line-height: 1.5;
      }
    }
  }
}

::ng-deep span b {
  color: #ffe2e7;
  font-weight: bold;
}
::ng-deep span strong {
  color: green;
  //cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
