$fonts: './assets/fonts/';

@mixin project-font($name) {
  @font-face {
    font-family: $name;
    src: url($fonts + $name + '.ttf') format('truetype');
  }
}


@include project-font(alk-sanet);
@include project-font(bpg_nino_mtavruli_bold);
@include project-font(Caprasimo-Regular);
