<div class="layouts-header">
  <div class="layouts-header__left" [routerLink]="'./home'">
    <img src="./assets/images/logo.png" alt="logo">
    <h2>StudyCodeWay</h2>
  </div>
  @if (isMobile()) {
    <div class="layouts-header__burger" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="layouts-header__view" *ngIf="menuOpen">
      <a (click)="toggleMenu()" *ngFor="let routes of headerRoutes "  [routerLink]="routes.route" >{{routes.name}}</a>
    </div>
  }@else{
    <div class="layouts-header__right">
      <a *ngFor="let routes of headerRoutes "  [routerLink]="routes.route">{{routes.name}}</a>
    </div>
  }
</div>
